---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  link?: string;
}

const { icon, link } = Astro.props;
---

<a
  href={link}
  class="group flex content-stretch aspect-square w-14 bg-ebony-clay-950/50 rounded-md transition-all ease duration-300 border border-white/5"
>
  <Icon
    name={icon}
    class="size-full opacity-100 text-ebony-clay-200 hover:text-white transition-all ease duration-300"
  />
</a>
