---
---

<div class="flex pb-8">
    <a href="/" class="text-lg font-semibold text-ebony-clay-950 border border-ebony-clay-100/10 bg-gradient-to-bl from-ebony-clay-800 to-ebony-clay-400 px-2 shadow-md rounded-md hover:underline hover:scale-110 transition-all duration-300">&larr; Homepage</a>
</div>