---
import Paragraph from "@components/Paragraph.astro"
import Contact from "@components/Contact.astro"
---


<Paragraph title="Contact Me">
    <div class="flex flex-wrap justify-start flex-row mt-3">
        <Contact icon="mdi:linkedin" link="https://www.linkedin.com/in/davide-locatelli-91a360304/"></Contact>
        <Contact icon="mdi:telegram" link="https://t.me/DereWah"></Contact>
        <Contact icon="mdi:github" link="https://github.com/Dere-Wah"></Contact>
        <Contact icon="mdi:email" link="mailto:derexcontact@gmail.com"></Contact>
    </div>
</Paragraph>