---
interface Props {
    subtitle?: string
}

const { subtitle} = Astro.props;
---



<div class="text-ebony-clay-100 text-base/loose w-full">
    <slot />
</div>
<span class="text-ebony-clay-100 italic font-normal text-sm opacity-50">{subtitle}</span>
