---
import HomeButton from "@components/HomeButton.astro";
import Divider from "@components/Divider.astro";
import Links from "@components/Links.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="bg-gradient-to-b from-ebony-clay-950 to-ebony-clay-900">
		<div class="py-14">
			<main class="flex flex-col items-center w-full h-full">
				<div class="max-w-[65ch]">
					<HomeButton />
					<slot />
					<Divider />
					<Links />
				</div>
			</main>
		</div>
	</body>
</html>
